<%= form_for(@rake_file) do |f| %>
  <% if @rake_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rake_file.errors.count, "error") %> prohibited this rake_file from being saved:</h2>

      <ul>
      <% @rake_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="upload">

    <%= f.label :file %><br />
    <%= f.file_field :file%><br />
    
  </div> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
