<h1>Listing command_parameters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @command_parameters.each do |command_parameter| %>
  <tr>
    <td><%= command_parameter.name %></td>
    <td><%= command_parameter.type %></td>
    <td><%= link_to 'Show', command_parameter %></td>
    <td><%= link_to 'Edit', edit_command_parameter_path(command_parameter) %></td>
    <td><%= link_to 'Destroy', command_parameter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Command parameter', new_command_parameter_path %>
