<%= form_for(@permission) do |f| %>
  <% if @permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
      <% @permission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :canAddUsers %><br />
    <%= f.check_box :canAddUsers %>
  </div>
  <div class="field">
    <%= f.label :canUpdateUserPermission %><br />
    <%= f.check_box :canUpdateUserPermission %>
  </div>
  <div class="field">
    <%= f.label :canUpload %><br />
    <%= f.check_box :canUpload %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
